*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');

:root{
    --fontSmallText : 'Jost', sans-serif;
    --fontLargerText : 'Oxygen', sans-serif;

    --colorBGLighter : #EEE;

    --colorBGDarker :#0C6291;
    --colorDarker : #EEE;
    --colorBGDarkerHover : #107bb4;

    --colorAltBG : #c43c51;
    --colorAltBGdull : #c4868f;


    --color : #000004;

    
  scrollbar-color: rgb(0,0,0) var(--colorBGLighter);
  scrollbar-width: thin;
}

a{
    color: inherit;
    text-decoration: none;
}

body::-webkit-scrollbar {
    width: 0.5em;
}

body::-webkit-scrollbar-track {
    background-color: var(--colorBGLighter);
}

body::-webkit-scrollbar-thumb {
    background-color: black;
    outline: 1px solid rgb(0, 0, 0);
}

html{
    scroll-behavior: smooth;
    letter-spacing: 0.5px;
}

/* Navigation */

nav{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.05rem;
    font-family: var(--fontSmallText);
    color: var(--colorDarker);
    background-color: var(--colorBGDarker);
    opacity: 0.9;
}

.logoside{
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    padding: 1rem;
    font-weight: bold;
    transition: background-color 0.5s ease-out;
}

.linksside{
    display: flex;
    list-style-type: none;
    transition: transform 0.5s ease-out;
}

.linksside li{
    padding: 1rem;
    transition: background-color 0.3s ease-out;
}

.logoside:hover, .linksside li:hover{
    background-color: var(--colorBGDarkerHover);
}

.burger{
    margin: 0.7rem;
    cursor: pointer;
    transition-duration: 0.5s;
    display: none;
}

.burger div{
    width: 20px;
    height: 2px;
    background-color: white;
    margin: 5px;
}

/* Main */

    /* Intro */

    .intro{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .introText{
        font-size: 3.5em;
        font-family: var(--fontLargerText);
        color: var(--color);
        font-weight: bold;
    }

    .introSubText{
        font-size: 2.5em;
        font-family: var(--fontLargerText);
        color: #333;
        font-weight: bold;
        margin: 1.5em 0;

    }

    .smallFont{
        font-family: var(--fontSmallText);
        font-size: 1.5em;
        line-height: 1.5em;
    }

    .btn{
        padding: 0.5em 1em;
        font-size: 1.2em;
        border-radius: 8px;
        box-shadow: none;
        border: none;
        align-items: center;
        justify-self: center;
        border: 2px solid #00000000;
        transition-duration: 0.5s;
    }

    .coursebtn{
        display: block;
        margin: auto;
        margin-top: 3em;
        background-color: var(--colorAltBG);
        color: var(--colorDarker);
        cursor: pointer;

    }

    .coursebtn:hover{
        border: 2px solid var(--colorAltBG);
        background-color: white;
        color: var(--colorAltBG);
        box-sizing: border-box;
    }

    /* Courses */

    #courses{
        display: flex;
        flex-wrap: wrap;
        padding: 2em 0;
    }

    .card{
        /* border: 1px solid #999; */
        font-family: var(--fontSmallText);
        padding: 1em;
        font-size: 1.5em;
        text-align: left;
        width: 250px;
        height: 250px;
        box-shadow: rgba(31, 31, 31, 0.12) 0px 1px 6px, rgba(31, 31, 31, 0.12) 0px 1px 4px;
        line-height: 1.5em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0.8em auto;
    }

    .card:hover{
        box-shadow: rgba(31, 31, 31, 0.12) 0px 1px 6px, rgba(31, 31, 31, 0.24) 0px 1px 8px;
    }

    .linearInfo{
        display: flex;
        justify-content: space-between;
        font-size: 0.8em;
        color: var(--colorAltBG);
    }

    .courseName{
        font-size: 1.2em;
        font-weight: bold;
        color: var(--colorBGDarker);
        min-height: 4em;
    }


    /* Footer */

    footer{
        text-align: center;
        font-size: 1em;
        margin-top: 1em;
        padding: 1em;
        font-family: var(--fontSmallText);
        color: #666;
        font-weight: 100;
    }

    /* Contact */

    .form{
        min-height: 100vh;
        padding-top: 10em;
    }

    .formIntro{
        font-family: var(--fontSmallText);
        font-size: 1.5em;
        line-height: 1.5em;
        margin-bottom: 1em;
    }

    .row{
        display: flex;
        justify-content: space-between;
    }

    .row input, .row select{
        padding: 0.5em;
        font-size: 1.2em;
        width: 30%;
        font-family: var(--fontSmallText);
        border: none;
        border-bottom: 1px solid var(--colorAltBGdull);
    }

    .row select{
        -moz-appearance: none;
        text-indent: 0.01px;
        text-overflow: '';
    }

    .row input:hover, .row select:hover, .expectation:hover{
        border: 1px solid var(--colorAltBGdull);
    }

    .row input:focus, .row select:focus, .row input:active, .row select:active, .expectation:focus, .expectation:active{
        border: 1px solid var(--colorAltBG);
        box-shadow: none;
        outline: none;
    }

    .expectation{
        width: 100%;
        margin: 1em 0;
        padding: 0.5em;
        font-size: 1.2em;
        font-family: var(--fontSmallText);
        border: none;
        border-bottom: 1px solid var(--colorAltBGdull);
    }
    
    option:focus, option:active, option:hover{
        background-color: var(--colorAltBG);
    }

    /* Testimonials */

    .testiCard{
        font-family: var(--fontSmallText);
        padding: 1em;
        font-size: 1.5em;
        width: 300px;
        height: auto;
        /* box-shadow: rgba(31, 31, 31, 0.12) 0px 1px 6px, rgba(31, 31, 31, 0.12) 0px 1px 4px; */
        box-shadow: var(--colorAltBG) -2px 1px 6px, var(--colorBGDarker) 2px 1px 4px;
        line-height: 1.5em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0.8em auto;
        transition-duration: 0.5s;
    }

    .testiCard:hover{
        box-shadow: var(--colorAltBG) 2px 1px 6px, var(--colorBGDarker) -2px 1px 4px;
    }

    .startquote{
        font-size: 2em;
    }

    #testimonials{
        margin-top: 2em;
    }

    .heading{
        font-family: var(--fontLargerText);
        font-size: 2em;
        font-weight: bold;
        text-align: center;
        color: #333;
    }

    .review{
        font-family: var(--fontSmallText);
        font-size: 0.8em;
        line-height: 1.5em;
        text-align: justify;
        word-spacing: -2px;
    }

    .reviewer{
        font-family: var(--fontSmallText);
        font-size: 0.6em;
        text-align: right;
        opacity: 0.8;
    }

    .eighty{
        width: 80%;
        margin: auto;
    }

    .contactbtn{
        display: block;
        margin: auto;
        margin-top: 1em;
        background-color: var(--colorAltBG);
        color: var(--colorDarker);
        cursor: pointer;
    }

    .contactbtn:hover{
        border: 2px solid var(--colorAltBG);
        background-color: white;
        color: var(--colorAltBG);
    }

    .center{
        text-align: center;
    }
@media screen and (max-width:768px)
{
    body{
        font-size: 0.8em;
        overflow-x: hidden;
    }


    /* Navigation */
    nav{
        font-size: 1em;
    }
    .linksside{
        position: absolute;
        right: 0;
        bottom: 0;
        top: 3.75em;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        background-color: var(--colorBGLighter);
        justify-content: unset;
        transform: translateX(100%);
        opacity: 0;
    }
    .linksside li{
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #333;
        border-top: 1px solid #333;
    }
    .burger{
        display: unset;
    } 

    .linear{
        grid-template-columns: 100%;
        grid-gap: 2em;
    }

    .introText, .introSubText, .smallFont, .review{
        line-height: 1.15em;
    }

    .eighty{
        width: 90%;
    }
}

/* Toggle Animations */

.nav-active{
    transform: translateX(0%);
    opacity: 0.95;
    width: 250px;
}

.burger-active{
    transform: rotate(90deg);
}